<div class="container">
    <div class="jumbotron" id="pageHeader">
        <h1 class="text-center">De-li-cious-Cupcake!</h1>
        <p class="text-center">You can't buy happiness, but you can devour cupcakes.</p>
        <br>
        <form class="create-form">
            <div class="form-group">
                <label for="newcupcake"></label>What kind of cupcake you like to have:</label>
                <input type="text" id="newcupcake" name="cupcake_name">
                {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                <button type="submit" class="btn btn-danger" id="addcupcake">Add Cupcake</button> 
            </div>
        </form>
    </div><!-- /jumbotron -->

    <div class="row">
        {{!-- Cupcake not eaten --}}
        <div class="col-lg-6">
            <div class="card text-white bg-warning border-danger mb-3" >
                <h2 class="text-danger text-center">Eat the cupcakes</h2>
                <hr >
                <ul class="list-group ml-5">
                    {{#each cupcakes}}
                        {{#unless devoured}}
                             {{> cupcakes/cupcake-block devoured=true}}
                        {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        {{!-- Cupcake eaten --}}
        <div class="col-lg-6">
            <div class="card text-white bg-success border-danger mb-3" >
                <h2 class="text-white text-center">Yummy !!! De-li-cious Goodness in my belly</h2>
                <hr>
                <ul class="list-group">
                    {{#each cupcakes}}
                        
                        {{#if devoured}}
                            {{> cupcakes/cupcake-block devoured=false}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

</div>